:root{
  --fuenteHeading: 'Trebuchet MS',Arial;
  --fuenteParrafos: 'Lucida sans', sans-serif;

  --primario: #784d3c;
  --blanco: #fff;
  --gris: #e1e1e1;
  --negro: #000;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}


/*Contenedor principal*/
.contenedor{
  width: min(90%, 120rem);
  margin: 0 auto;
}

/*Headings*/
h1,h2,h3,h4{
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1{ font-size: 4.8rem;}
h2{ font-size: 4rem;}
h3{ font-size: 3rem;}
h4{ font-size: 2.8rem;}

/*Imagenes*/
img{ max-width: 100%;}

/*Utilidades*/
.no-margin{ margin: 0}
.no-padding{ padding: 0}

.texto-centrado{ text-align: center;}