@import url('normalize.css');
@import url('common.css');

.web .header{
  background-image: url('../imgs/banner.webp');
}
.no-web .header{
  background-image: url('../imgs/banner.jpg');
}

.header{
  background-image: url('../imgs/banner.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60rem;
}

.header__texto{
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
}

.barra{
  padding-top: 3rem;
}

@media(min-width: 768px) {

  .header__texto{
    margin-top: 15rem;
  }
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navegacion{
    display: flex;
    gap: 2rem;
  }

}

.logo{ color: var(--blanco); }

.logo__nombre{  font-weight: 400;}

.logo__bold { font-weight: 700;}

.navegacion__enlace{
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco)
}


/*Maquetación contenido ppal*/
@media(min-width: 768px) {
    .wrapper{
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
    }
}

.entrada{
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.entrada:last-of-type{
  border:none;
  margin-bottom: 0;
}

.boton{
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}

.boton:hover{
  cursor: pointer;
}

@media(min-width: 768px) {
    .boton{
      display: inline-block;
    }

    .about{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
}

.boton--primario{ background-color: var(--negro);}

.boton--secundario{ background-color: var(--primario); }

.cursos{ list-style: none; }

.widget-curso{ 
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.widget-curso:last-of-type{ 
  border: none;
  margin: 0;
}

.widget-curso:last-of-type, 
.curso:last-of-type{ border:none}

.widget-curso__labe, 
.curso__label{ font-weight: 700; font-family: var(--fuenteHeading);}

.widget-curso__info, 
.curso__info{ font-weight: 400;}

.footer{ 
  margin-top: 4rem;
  background-color: var(--negro);
  padding-bottom: 3rem;
}

.curso{
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
@media(min-width: 768px) {
    .curso{
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
}

/*Contacto*/
.contacto-bg{
  background-image: url('../imgs/contacto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40rem;
}

.formulario{
  background-color: var(--blanco);
  margin: -5rem auto 0 auto;
  padding: 1.55rem;
  width: 95%;
  border-radius: 0.3rem;
}

.campo{
  display: flex;
  margin-bottom: 2rem;
}

.campo__label{ 
  flex: 0 0 8rem;
  text-align: right;
  padding-right: 2rem;
}

.campo__field{ 
  flex: 1 0 calc(15rem - 1.2rem);
  border:1px solid var(--gris);
  padding: 0.6rem 1.2rem;
  width: min(15rem, 100%);
}
.campo__field--textarea{ height: 20rem;}

@media(min-width: 768px) {
  .formulario{
    padding: 5rem;
  }
  
  .campo__label{
    flex: 0 0 9rem;
  }

  .campo__field{
    flex:1;
  }
}